* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background: url('/img/backround.jpg') no-repeat center center fixed;
  background-size: cover;
  position: relative;
  min-height: 100vh;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

header {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
}

.logo img {
  width: 135px;
  height: 110px;
  object-fit: cover;
  margin-right: 40px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  align-items: center;
  font-family: "Anton", sans-serif;
  font-weight: 55;
  font-style: normal;
  font-size: 20px;
}


nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  text-decoration: none;
  color: #ca6105
}

nav ul li a:hover {
  background-color: white;
  border-radius: 5px;
}

.localizacao {
  padding: 40px 20px;
  text-align: center;
}

.localizacao h2 {
  font-size: 36px;
  color: #ff9800;
  margin-bottom: 20px;
  font-family: 'Fredoka One', cursive;
}

.localizacao h3 {
  font-size: 24px;
  color: #ff9800;
  margin-top: 20px;
}

.localizacao p {
  color: white;
  font-size: 18px;
  line-height: 1.6;
}

.mapa iframe {
  width: 100%;
  max-width: 600px;
  height: 450px;
  border: 0;
  margin: 20px 0;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
}

footer p {
  margin: 5px 0;
}

footer a {
  color: white;
  text-decoration: none;
}

.links a {
  text-decoration: none;
  color: #ca6105;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 20px 0;
  position: relative;
  /* Remova o fixed para que o footer não acompanhe a rolagem */
  width: 100%;
  font-family: "Anton", sans-serif;
  margin-top: 50px;
  /* Adiciona espaço antes do footer */
}

/* Estilo para o ícone do menu */
.menu-icon {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* Configuração padrão do menu */
nav ul {
  display: flex;
  gap: 50px;
}

/* Configurações para telas menores */
@media (max-width: 768px) {

  /* Mostra o ícone do menu apenas no mobile */
  .menu-icon {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
  }

  /* Estilização para o menu no modo mobile */
  nav ul {
    display: none;
    flex-direction: column;
    position: static;
    /* Agora fica abaixo do logo */
    background-color: black;
    width: 100%;
    padding: 10px;
  }

  /* Mostra o menu ao ativar a classe 'show' */
  nav ul.show {
    display: flex;
  }
}